<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/plugins/css/mine.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">

</head>

<body>
<div class="admin-main">
    <h2 style="font-size: 25px;font-weight: bolder;margin-left: 50px;margin-top :20px;margin-bottom: 20px;">我的异常任务</h2>
    <hr class="hr">
	<fieldset class="layui-elem-field">
				<legend></legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>被拒接任务：</legend>
						<div class="layui-field-box">
							<table class="layui-table">
								<thead>
								<tr>
									<th>#</th>
									<th>任务Id</th>
									<th>所属工单</th>
									<th>任务摘要</th>
									<th>创建人</th>
									<th>执行人</th>
									<th>审核人</th>
									<th>创建时间</th>
									<th>优先级</th>
									<th>当前状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<foreach name="data1" key="k" item="vo">
									<tr>
										<td>{$k+1}</td>
										<td>{$vo.id}</td>
										<td>{$vo.tid}</td>
										<td>{$vo.title}</td>
										<td>{$vo.createid}</td>
										<td>{$vo.exeid}</td>
										<td>{$vo.checkid}</td>
										<td>{$vo.time|date="Y-m-d H:i:s",###}</td>
										<if condition="($vo.level eq 1)">
											<td style="background-color: #4CAF50;">低</td>
											<elseif condition="$vo.level eq 2"/>
											<td style="background-color: #F7B824;">中</td>
											<else />
											<td style="background-color: red;">高</td>
										</if>

										<td><if condition="($vo.state eq 0)">
											未接单
											<elseif condition="$vo.state eq 1"/>
											已接单
											<elseif condition="$vo.state eq 2"/>
											被拒接
											<elseif condition="$vo.state eq 3"/>
											待审核
											<elseif condition="$vo.state eq 4"/>
											审核未通过
											<elseif condition="$vo.state eq 5"/>
											已完成
										</if></td>
										<td>
											<a data="{$vo.id}" class="layui-btn layui-btn-mini layui-btn-normal again"><i class="layui-icon">&#xe642;</i>重发</a>
											<a  data="{$vo.id}" class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除</a>

										</td>
									</tr>
								</foreach>
								</tbody>
							</table>
						</div>
					</fieldset>
				</div>
			</fieldset>
			<fieldset class="layui-elem-field">
				<legend></legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>审核未通过任务：</legend>
						<div class="layui-field-box">
							<table class="layui-table">
								<thead>
								<tr>
									<th>#</th>
									<th>任务Id</th>
									<th>所属工单</th>
									<th>任务摘要</th>
									<th>创建人</th>
									<th>执行人</th>
									<th>审核人</th>
									<th>创建时间</th>
									<th>优先级</th>
									<th>当前状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<foreach name="data2" key="k" item="vo">
									<tr>
										<td>{$k+1}</td>
										<td>{$vo.id}</td>
										<td>{$vo.tid}</td>
										<td>{$vo.title}</td>
										<td>{$vo.createid}</td>
										<td>{$vo.exeid}</td>
										<td>{$vo.checkid}</td>
										<td>{$vo.time|date="Y-m-d H:i:s",###}</td>
										<if condition="($vo.level eq 1)">
											<td style="background-color: #4CAF50;">低</td>
											<elseif condition="$vo.level eq 2"/>
											<td style="background-color: #F7B824;">中</td>
											<else />
											<td style="background-color: red;">高</td>
										</if>

										<td><if condition="($vo.state eq 0)">
											未接单
											<elseif condition="$vo.state eq 1"/>
											已接单
											<elseif condition="$vo.state eq 2"/>
											被拒接
											<elseif condition="$vo.state eq 3"/>
											待审核
											<elseif condition="$vo.state eq 4"/>
											审核未通过
											<elseif condition="$vo.state eq 5"/>
											已完成
										</if></td>
										<td>
											<a data="{$vo.id}" class="layui-btn layui-btn-mini layui-btn-normal back"><i class="layui-icon">&#xe642;</i>重新确认</a>
											<a  data="{$vo.id}" class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除</a>

										</td>
									</tr>
								</foreach>
								</tbody>
							</table>
						</div>
					</fieldset>
				</div>
			</fieldset>
    
</div>
    <script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	layui.use('form', function() {
	    $('.del').click(function(){
            var task_id = $(this).attr('data');
            var url = "{:U('Task/deleteWorks')}";
            layer.confirm('确定删除吗?', {
                icon: 3,
                skin: 'layer-ext-moon',
                btn: ['确认','取消'] //按钮
            }, function(){
                $.post(url,{'task_id':task_id},function(data){
                    if(data.status == 'error'){
                        layer.msg(data.msg,{icon: 5});//失败的表情
                        return;
                    }else{
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            location.reload();
                        });
                    }
                });
        })
        })
        $('.again').click(function(){
        	var task_id = $(this).attr('data');
            var url = "{:U('Task/tryagain')}";
            layer.confirm('确定重发吗?', {
                icon: 3,
                skin: 'layer-ext-moon',
                btn: ['确认','取消'] //按钮
            }, function(){
                $.post(url,{'task_id':task_id},function(data){
                    if(data.status == 'error'){
                        layer.msg(data.msg,{icon: 5});//失败的表情
                        return;
                    }else{
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            location.reload();
                        });
                    }
                });
        })
        })
        $('.back').click(function(){
        	var task_id = $(this).attr('data');
            var url = "{:U('Task/backagain')}";
            layer.confirm('确定重新提交审核吗?', {
                icon: 3,
                skin: 'layer-ext-moon',
                btn: ['确认','取消'] //按钮
            }, function(){
                $.post(url,{'task_id':task_id},function(data){
                    if(data.status == 'error'){
                        layer.msg(data.msg,{icon: 5});//失败的表情
                        return;
                    }else{
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            location.reload();
                        });
                    }
                });
        })
        })
    })
</script>
</body>

</html>