
<form class="layui-form"enctype="multipart/form-data">
    <h2 style="margin-left: 20px;color:#1E9FFF;font-weight: bolder;font-size: 20px;margin: 20px;">{$task.name}</h2>
<!--    <if condition="$state eq 0 ">已创建未接单   //判断订单状态画上对应图标
        <else /> 已接单
    </if>-->
    <input type="text" name = "task_id" value="{$work_info.id}" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-inline">
            <input type="text" name="user_id" value="{$work_info.createid}" style="display: none">
            <input type="text" style="width: 250px;"  name="user_name" lay-verify="required" placeholder="请输入用户名" id="name" value="{$user.user_name}" readonly="readonly" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择审核人</label>
        <div class="layui-input-inline">
            <select name="checkid" id = "checkid" >
                <volist name="user_info" id="vo">
                    <option value ="{$vo.id}">{$vo.user_name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择执行人</label>
        <div class="layui-input-inline">
            <select name="exeid" id = "exeid">
                <volist name="user_info1" id="vo">
                    <option value ="{$vo.id}">{$vo.user_name}</option>
                </volist>
            </select>
        </div>
    </div>
    <volist name="form_data" id="vo">
        <div class="layui-form-item">
            <label class="layui-form-label">{$vo.title}</label>
            <div class="layui-input-inline">
                <if condition="($vo.type eq 0)">
                    <input type="text" style="width: 250px;" name="{$vo.ziduan}" lay-verify="required" placeholder="请输入{$vo.title}" id="{$vo.ziduan}"   class="layui-input">
                    <elseif condition="$vo.type eq 1"/>
                    <textarea style="height: 70px; width: 250px;" name="{$vo.ziduan}" lay-verify="required"  id="{$vo.ziduan}"   class="layui-input"></textarea>
                    <else />
                    <input type="file" style="width: 250px;"  name="{$vo.ziduan}" lay-verify="required"  id="{$vo.ziduan}"   class="layui-input">
                </if>
            </div>
            </if>

        </div>
    </volist>

    <div class="layui-form-item" style="margin-top: 50px;"id="sub">
        <div class="layui-input-block">
            <button class="layui-btn"  lay-submit lay-filter="task" style="margin-left: 30px;"  lay-submit lay-filter="user">立即提交</button>
            <button type="reset" id="btn" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>

    layui.use('form', function(){

        var form = layui.form(),
            $ = layui.jquery
        //监听提交
        form.on('submit(task)', function(data){
            var state = '{$work_info.state}'
            if(state != 0)
            {
                layer.alert('此任务已被接单，为了安全起见无法操作！', {
                    title: '警告'
            }else
                {
                    var taskInfo = data.field;
                    var url = "updateTask";
                    $.post(url, taskInfo, function (data) {
                        if (data.status == 'error') {
                            layer.msg(data.msg, {icon: 5});//失败的表情
                            return;
                        } else if (data.status == 'success') {
                            layer.msg(data.msg, {
                                icon: 6,//成功的表情
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                location.reload();
                            });
                        }
                    })
                }
            return false;//阻止表单跳转
        });
        $(function () {
            $('#btn').click();
            var a = "<?php echo $_SESSION['user_info'][id]; ?>"
            var b = "{$work_info.createid}"
            var eid = "{$work_info.exeid}"
            var chid = "{$work_info.checkid}"
            var formdata = '{$work_info.data}'
            var jsondata= formdata.replace("\\", "/");
            var jsonform = $.parseJSON(jsondata);
           // console.log(jsonform)
            for(var key in jsonform)
            {
                $('#'+key).val(jsonform[key])
            }


            $('#checkid').val(chid)
            $('#exeid').val(eid)


            if(a != b)
            {
                layer.msg("您不是本工单的创建人，无法编辑此工单！",{icon: 5});
                $('#sub').hide()
            }

        });
    })
</script>